* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    padding-left: .5rem;
    flex-wrap: wrap;
    background-color: blue;
    padding-bottom: 0;
}

a {
    text-decoration: none;
}

.logo {
    width: 200px;
    margin-top: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    flex-direction: column;
    width: 100%;
}

.hidden {
    display: none;
}

li:hover {
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

li {
    margin-right: 1rem;
    margin-bottom: .5rem;
    opacity: .7;
    font-size: 1.3rem;
}

.list__item {
    color: #fff;
}

.icon--menu {
    width: 40px;
    height: 40px;
    fill: white;
    opacity: .7;
}


/* .icon--menu {
    border: 1px solid cyan;
} */

@media screen and (min-width:768px) {
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: .5rem;
        transition: display 20s ease-in-out
    }
    .icon {
        display: none;
    }
    .navbar {
        flex-wrap: nowrap;
        align-items: center;
    }
    .hidden {
        display: flex;
    }
    li:hover {
        border-bottom: 4px solid lightblue;
        border-radius: 5px;
        transition: .1s;
    }
}